body{
	display: flex;
	justify-content: center;
}

.slyder {
	width: 400px;
	height: 250px;
	overflow: hidden;
	border:1.5px solid #f00;
}

.lenta {
	position: relative;
	width: 2000px;
	height: 315px;
	flex-direction: row;
	left: 0;
	transition: all ease 1s;
}

.buttons {
	margin-top: 300px;
}

.l_images-1{
	width: 400px;
	height: 250px;
}
.l_images-2{
	width: 400px;
	height: 250px;
	padding-top: 250px;
}
.l_images-3{
	width: 400px;
	height: 250px;
	padding-top: 500px;
}



.l_images-1, .l_images-2, .l_images-3{
	position: absolute;
}

.slyder-next {
	width: 50px;
	height: 30px;
	font-size: 16px;
	transition: 0.5s;
}
.slyder-next::hover {
	background-color: gray;
}
.slyder-back {
	width: 50px;
	height: 30px;
	font-size: 16px;
	transition: 0.5s;
}
.slyder-back::hover {
	background-color: gray;
}